<section class="panel clearfix bg-primary dk">
  <div class="panel-body">
    <div class="row">
      <div class=" col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
      <div class="col-xs-12 col-sm-7 col-md-8 col-lg-6">
        <h2>
          
              PIDE PRONIED
            
        </h2>
        <a href="#" class="text-info"><!-- Para obtener Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. --></a>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4"></div>
      <div class="col-xs-0 col-sm-0 col-md-0 col-lg-1"></div>
    </div>

  </div>
</section>

<section>
    <highcharts-chart 
     [Highcharts]="Highcharts"
     [options]="chartOptions"
     [update]="updateFlag"
     [oneToOne]="true"
     style="width: 60%; height: 400px; display: block;" ></highcharts-chart>
</section>






